@import "tailwindcss";

* {
  box-sizing: border-box;
}

html, body, #root {
  background-color: #030712 !important;
  color: #f3f4f6;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
